* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  height: 50vh;
  justify-content: center;
  margin-top: 8rem;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operator {
  background-color: #FFA600;
}

.output {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 1px solid black;
  background-color: rgb(144, 143, 143);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
